# Generic
node_modules/
dist/
build/
*.class
*.log
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Python virtual environments
.venv/
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Maven build output
target/

